.card-body {
    font-family: 'Satisfy', cursive !important;
    font-size: 20px !important; 
}
  
.card {
    text-align: center;
    margin-top: 10px; 
}

.halal {
    margin-left: 50px;
}

.halal img {
    width: 100%;
}
